<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Organize</a>
    <% if user_signed_in? %>
	    <ul class="right hide-on-med-and-down">
	      <li><a href="sass.html"><i class="mdi-action-search"></i><%= link_to current_user.name, edit_user_registration_path %></a></li>
	      <li><a href="components.html"><i class="mdi-action-view-module"></i><%= link_to 'Logout', destroy_user_session_path, method: :delete %></a></li>
	    </ul>
   	<% end %>
  </div>
</nav>